<li>
	{{name}}

	<button class="change-status" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}DEVOUR{{else}}EATEN{{/if}}
	</button>

	<button class="devour-burger" data-id="{{this.id}}">DEVOUR!</button>
</li>
