<li>
	{{name}}

	<button class="change-status" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}Devour it!{{else}}Devour it!{{/if}}
	</button>

	<button class="devour-burger" data-id="{{this.id}}">DELETE</button>
</li>
